# URL 1
- url: https://LOKI_DOMAIN/loki/api/v1/push

  # If using basic auth authentication
  # basic_auth:
  #   username: primary
  #   password: rn5egfjjzaZ8qtG2ybG94gseLxy3

  # If using headers authentication
  # headers:
  #   "Header1": "Header value"
  #   "Header2": "Header value"
  #   "X-Scope-OrgID": "primary"

  # Any other url parameters as defined by promtail https://grafana.com/docs/loki/latest/clients/promtail/configuration/#clients

# URL 2
- url: https://LOKI_IP:PORT/loki/api/v1/push
